@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-black text-white overflow-x-hidden;
}

img{
    @apply rounded
}

.navbar-active.dark{
    background-color: white;
}
.navbar-active.white{
    background-color: dark;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: white;
}